{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{ .Permalink }}">
                                <span class="post-title">{{ .Title }}</span>
                                <span class="post-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2" }}
                                    {{ end }}
                                </span>
                            </a>
                            {{ with .Params.description }}
                                <p class="post-summary">{{ . }}</p>
                            {{ else }}{{ with .Summary }}
                                <p class="post-summary">{{ . | plainify | truncate 120 }}</p>
                            {{ end }}{{ end }}
                            {{ with .Params.tags }}
                                <div class="post-list-tags">
                                    {{ range . }}<span class="tag-pill">{{ . }}</span>{{ end }}
                                </div>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
        {{ partial "pagination.html" . }}
    </main>
{{ end }}
