<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Params.Author.name }}
                <span>{{ .Site.Params.Author.name }}</span>
            {{ end }}
                
          
        </div>
    </div>
   GPG&nbsp;- <a style="text-decoration:none" href="https://keys.openpgp.org/search?q=FA93C106B42767227C1EB0A261B43BAF8FF9AD78">FA93 C106 B427 6722 7C1E  B0A2 61B4 3BAF 8FF9 AD78 </a>
    <div class="footer__inner">
        <a rel="me" href="https://mastodon.online/@satyam"></a>
    </div>
</footer>
