<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Author.name }}
                <span>{{ .Site.Author.name }}</span>
            {{ end }}
                
          
        </div>
    </div>
   GPG&nbsp;- <a style="text-decoration:none" href="https://keybase.io/satyamkapoor">9F69 61AA 8B1D 27A8 15B6 FA26 3F2F 1080 209D F854 </a>
    <div class="footer__inner">
        <a rel="me" href="https://mastodon.online/@satyam"></a>
    </div>
</footer>
